// 定义scss全局变量
// 左侧菜单栏宽度
$base-menu-width: 260px;
// 左侧菜单栏背景颜色
$base-menu-background: #001529;
// 顶部导航栏高度
$base-topbar-height: 50px;
// 左侧菜单logo区域高度
$base-menu-logo-height: 50px;
// 左侧菜单logo区域文字大小
$base-menu-text-fontSize: 20px;
